{% extends "_includes/default.njk" %}

{% block title %}Opt-Out Machine by Known Privacy{% endblock %}

{% block content %}
  <div class="flex justify-center items-center">
    <div>
      <span class="text-change">Good design</span><br/>
      <span class="change">is<br/>as little design<br/>as possible</span>
    </div>
  </div>
{% endblock %}
