{% extends "../_includes/layouts/default.njk" %}
{% block title %}Opt-Out Machine Privacy Policy{% endblock %}
{% block content %}
<div class="bg-neutral flex relative bg-cover bg-no-repeat h-[240px] liquid-13-hero">
    <h2 class="font-semibold text-4xl md:text-6xl leading-none capitalize text-white mt-16 p-16">Privacy Policy</h2>
</div>
<div class="bg-neutral flex flex-row">
    <div class="container mx-auto mb-4">
        <article class="px-4 pt-20 mb-auto bg-white">
            <div class="flex justify-center">
                <div class="max-w-prose">
                    <p class="leading-relaxed pb-4 text-lg">We will never sell, disclose, or distribute your data in any way without your express permission. </p>
                    <p class="leading-relaxed pb-4 text-lg">If we ever we think that's a good idea, you must Opt-In first and be the one advocating to share or license your data. </p>
                    <p class="leading-relaxed pb-4 text-lg">With your permission, we may help you temporarily license your data to 3rd parties for a fee. We will share in the revenues created from those fees to you. Your agreement to the terms and conditions of any data license will be pre-requisite for any transaction to happen.</p>
                    <p class="leading-relaxed pb-4 text-lg">We will provide complete transparency into any and all data that we have about you to you with our best effort. Practical, logistical, operational and technical barriers may hinder our best efforts, but our intent is total transparency.</p>
                    <p class="leading-relaxed pb-4 text-lg">We may use your data for internal testing, operations, quality assurance, and business intelligence purposes, but we will be transparent and proactive in communicating that to you and won't ever share what we learn about you with others.</p>
                    <p class="leading-relaxed pb-4 text-lg">We do all we can to avoid exposure to your data. We don't want anyone in our company to see it or be able to see it. </p>
                    <p class="leading-relaxed pb-4 text-lg">We may from time-to-time aggregate data across users of our products. We might create derivative works from that data, but the contribution of your data will anonymous and can't be traced back to you. If we do that, we do it in privacy-preserving way. </p>
                    <p class="leading-relaxed pb-4 text-lg">While we will update the legal text on occasion to best protect you, these fundamental principles will not change.</p>

                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}
