{% extends "../_includes/layouts/default.njk" %}
{% set title = "Pricing for the Opt-Out Machine by Known Privacy" %}
{% set description = "Get a powerful automated tool for you to exercise your privacy rights under CCPA, CPRA, CTDPA and more." %}
{% block content %}
<div class="bg-neutral flex flex-col lg:flex-row">
  <div class="basis-2/3 p-6 md:p-24 lg:p-36">
    <h1 class="font-semibold text-2xl md:text-4xl mb-16">Stop the sale of your data by hundreds of companies.</h1>
    <div class="p-8 bg-white rounded drop-shadow-lg">
      <h2 class="font-semibold text-6xl leading-none capitalize mt-0 mb-2">$120</h2>
      <p class="my-5 text-lg">Privacy requests sent to over 300 surveillance companies</p>
      <p class="mt-8 mb-12">
        <a 
          class="uppercase text-lg py-3 px-8 bg-black font-bold text-white rounded-3xl border border-black duration-700 ease-out hover:bg-white hover:text-black hover:border-gray-300" 
          href="https://app.knownprivacy.com/users/register"
        >Get Started</a>
      </p>
      <ul class="w-full rounded-lg mt-2 mb-3 text-blue-800">
        {% for feature in features %}
        <li class="mb-1">
          <span class="w-fill flex p-3 pl-3 hover:bg-gray-200 rounded-lg">
            <img class="flex-none w-6 h-full" src="{{ '/assets/images/checkbox-circle-fill.svg' }}" alt="check" />
            <span class="ml-2" title="{{feature}}">{{feature}}</span>
          </span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="ellipse-24 hidden lg:flex basis-1/3 p-12 overflow-hidden">
    <div class="clip-center bg-neutral rounded-full"></div>
  </div>
</div>
{% endblock %}
