{% extends "../_includes/layouts/default.njk" %}
{% set title = "Pricing for the Opt-Out Machine by Known Privacy" %}
{% set description = "Get a powerful automated tool for you to exercise your privacy rights under CCPA, CPRA, CTDPA and more." %}
{% block content %}

<div class="bg-neutral flex flex-row">
  <div class="p-12 lg:p-24">
    <h1 class="font-semibold text-2xl lg:text-4xl">Stop the sale of your data by hundreds of companies.</h1>
  </div>
</div>
<div class="bg-neutral flex flex-col lg:flex-row lg:mx-8">
  {% for product in products %}
    <div class="basis-1/2 p-8 m-8 md:mt-0 bg-white rounded drop-shadow-lg">
      <h2 class="font-semibold text-2xl md:text-2xl mb-4">{{product.name}}</h2>
      <h2 class="font-semibold text-6xl leading-none mt-0 mb-2">{{product.price}}<span class="text-2xl">/yr</span></h2>
      
      <p class="mt-8 mb-12">
        <a 
          class="uppercase text-lg py-3 px-8 bg-black font-bold text-white rounded-3xl border border-black duration-700 ease-out hover:bg-white hover:text-black hover:border-gray-300" 
          href="{{product.link}}"
        >Get Started</a>
      </p>
      <p class="my-5 text-xl font-bold">{{product.description}}</p>
      <ul class="w-full rounded-lg mt-2 mb-3 text-blue-800">
        {% for feature in product.features %}
        <li class="mb-1">
          <span class="w-fill flex p-3 pl-3 hover:bg-gray-200 rounded-lg">
            <img class="flex-none w-6 h-full" src="{{ '/assets/images/checkbox-circle-fill.svg' }}" alt="check" />
            <span class="ml-2" title="{{feature}}">{{feature}}</span>
          </span>
        </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
{% endblock %}
