{% extends "../_includes/layouts/default.njk" %}
{% set title = "About the Opt-Out Machine and Known Privacy" %}
{% set description = "The motivation for creating the Opt-Out Machine was to take a step toward getting our privacy back." %}
{% block content %}
  <div class="bg-neutral">
    <div class="flex relative bg-cover bg-no-repeat h-[240px] united-states-grid-hero">
      <h1 class="font-semibold text-4xl lg:text-6xl leading-none capitalize text-white mt-16 p-16">About The Identity Verification Process</h1>
    </div>
    <div class="flex flex-row p-6 lg:px-56">
      <div>
        <h2 class="font-semibold text-2xl md:text-3xl leading-relaxed capitalize mt-12 mb-2">We created the Opt-Out Machine because we want our privacy back.</h2>
        <p class="my-8 text-lg">We believe that personal data about you should never be used to affect your life without your knowledge or permission. But it happens every day. 
          And as anyone watching can see, surveillance is getting more commonplace. If we don't act to get our privacy back, we can expect:</p>

        <div class="content-container-lrg font-p3">Every user of the Opt-Out Machine completes an identity verification before they can send out privacy requests. 
          <p class="my-8 text-lg">Rightly, many companies receiving privacy rights requests from consumers are concerned about fraud prevention, particularly when providing personal data to the requester.</p>
          <p class="my-8 text-lg">The Opt-Out Machine securely verifies the identity of individuals by utilizing a 3rd party partner called Persona. Persona specializes in identity verification solutions and can be found at <a href="https://withpersona.com/" target="_blank">https://withpersona.com/</a></p>
          <p class="my-8 text-lg">The Opt-Out Machine software shares the proof of identity with each privacy rights request. </p>
          <p class="my-8 text-lg">Banks use Persona for <a href="https://www.finra.org/rules-guidance/rulebooks/finra-rules/2090" target="_blank">KYC</a>/<a href="https://www.fincen.gov/history-anti-money-laundering-laws" target="_blank">AML</a> level security. The proof goes beyond just government ID and selfie photos, and also includes email and phone fraud risk, watchlists, address lookup and adverse media checks.</p>
          <p class="my-8 text-lg">The Opt-Out Machine at times receives objections from Data Brokers and others, insisting that it must utilize the identity verification method of the company holding data. This is evasive and burdensome.</p>
          <p class="my-8 text-lg">It is an unreasonable burden for a consumer to complete hundreds or thousands of identity verifications across all companies holding their data. It would take days, weeks, and even months of work to exercise their privacy rights across hundreds of companies without an automated solution.</p>
          <p class="my-8 text-lg">If you are reading this as a representative of a company who has received a privacy request through the Opt-Out Machine, please direct any questions to <a href="mailto:hello@knownprivacy.com">hello@knownprivacy.com</a>.</p>
          <p class="my-8 text-lg">If you are reading this as an individual who is curious about how the Opt-Out Machine works, know that Data Brokers and other Surveillance companies have a vested interest in making the process of getting your data difficult. </p>
          <p class="my-8 text-lg">The Opt-Out Machine is a tool that consumers can use to automate the process of exercising their privacy requests across hundreds of companies. Known Privacy is committed to making this process as quick, easy, and painless as possible while keeping personal data completely private and secure.</p>
        </div>

      </div>
    </div>
    
  </div>
{% endblock %}
