<footer class="bg-white text-black text-sm">
  <div class="container mx-auto items-center justify-center px-6 pt-6">
    <div class="grid lg:grid-cols-2">
      <div class="mb-6">
        <p>
          2101 Pearl St.<br>
          Boulder, CO 80302<br>
          720-295-9663<br>
          hello@knownprivacy.com
        </p>
      </div>
      <div class="mb-6">
        <ul class="list-none mb-0">
          <li>
            <a href="https://www.knownprivacy.com/terms-of-service" target="_blank" class="text-white">Terms of Service</a>
          </li>
          <li>
            <a href="https://www.knownprivacy.com/known-privacy-policy" target="_blank" class="text-white">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="my-6">
        <p>
          &copy; 2022 Known Privacy, PBC
        </p>
      </div>
    </div>
  </div>
</footer>