@font-face {
  font-family: "acuminpro-regular";
  src: url("./assets/fonts/acuminpro-regular-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/acuminpro-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "acuminprowide-regular";
  src: url("./assets/fonts/acuminprowide-regular-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/acuminprowide-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "acuminprowide-semibold";
  src: url("./assets/fonts/acuminprowide-semibold-webfont.woff2") format("woff2"),
    url("./assets/fonts/acuminprowide-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .dashed-circle-border{
    width: 20em;
    height: 20em;
    border-radius: 50%;
    border: 2px dashed #000000;
  }
  
  /* old man */
  .blog-post-hero {
    background-image: linear-gradient(rgba(1, 0, 1, 0.6), rgba(1, 0, 1, 0.6)), url('./assets/images/blog-post-hero-min.jpg');
  }
  
  .united-states-grid-hero {
    background-image: linear-gradient(rgba(1, 0, 1, 0.6), rgba(1, 0, 1, 0.6)), url('./assets/images/united-states-grid.jpg');
  }
  
  .liquid-13-hero {
    background-image: url('./assets/images/liquid-13-hero-min.png');
  }
  
  .liquid-12 {
    background-image: url('./assets/images/liquid-12-min.png');
    background-repeat: no-repeat;
  }
  
  .neural-network {
    background-image: url('./assets/images/neural-network-min.png');
    background-repeat: no-repeat;
  }
  
  .handle-phone {
    background-image: url('./assets/images/handling-phone.png');
    background-repeat: no-repeat;
  }
  
  .hands-on-phone {
    /* margin: 0px 0 -40px 235px; */
    margin: 0px 0 -40px 65px;
    background-image: url('./assets/images/hands-on-phone.png');
    background-repeat: no-repeat;
  }

  .hands-on-phone .clip-center {
    padding: 255px;
    margin: -5px -5px;
    border-radius: 50%;
    border: 2px dashed #000000;
  }  
  
  .ellipse-23 {
    margin: 60px 0 60px 52px;
    background-image: url('./assets/images/ellipse-23-min.png');
    background-repeat: no-repeat;
  }

  .ellipse-23 .clip-center {
    padding: 280px;
    margin: 167px 172px;
  }
  
  .ellipse-24 {
    margin: 60px 0 60px 52px;
    background-image: url('./assets/images/ellipse-24.png');
    background-repeat: no-repeat;
  }

  .ellipse-24 .clip-center {
    padding: 280px;
    margin: 167px 172px;
  }

  .exclude {
    margin: 4px 0 60px 0;
    background-image: url('./assets/images/exclude.svg');
    background-repeat: no-repeat;
  }
}
