{% extends "../_includes/layouts/default.njk" %}
{% block title %}Opt-Out Machine Education{% endblock %}
{% set description = "Blog posts and articles related to privacy, personal data, the Opt-Out Machine and Known Privacy." %}
{% block content %}
<div class="bg-neutral flex flex-col lg:flex-row min-h-screen">
  <div class="basis-2/3  p-6 md:p-24 lg:p-36">
    <h1 class="font-semibold text-2xl md:text-4xl mb-16">Education</h1>
    <div class="mt-6 grid grid-cols-1 gap-4">
        {%- for article in collections.education | published | reverse -%}
        <article class="mb-12">
            <a href="{{ article.url | url }}">
                <p class="font-semibold text-xl">{{ article.data.title }}</p>
                <p class="mb-2 text-gray-700">{{ article.data.description }}</p>
                <p class="text-gray-500">{{ article.data.date | postDate }} <span class="px-2">|</span>{{ article.data.author }}</p>
            </a>
        </article>
        {%- endfor -%}
    </div>
    </div>
    <div class="exclude rounded-lg bg-black basis-1/3 overflow-hidden"></div>
</div>
{% endblock %}