@font-face {
  font-family: "acuminpro-regular";
  src: url("../fonts/acuminpro-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/acuminpro-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "acuminprowide-regular";
  src: url("../fonts/acuminprowide-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/acuminprowide-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "acuminprowide-semibold";
  src: url("../fonts/acuminprowide-semibold-webfont.woff2") format("woff2"),
    url("../fonts/acuminprowide-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .dashed-circle-border{
    width: 20em;
    height: 20em;
    border-radius: 50%;
    border: 2px dashed #000000;
  }
  
  .liquid-12 {
    background-image: url('../images/liquid-12.png');
    background-repeat: no-repeat;
  }
  
  .ellipse-23 {
    margin: 60px 0 60px 52px;
    background-image: url('../images/ellipse-23.png');
    background-repeat: no-repeat;
  }

  .ellipse-23 .clip-center {
    padding: 280px;
    margin: 167px 172px;
  }
}
